#online-meeting-toolkit {
    position: fixed;
    z-index: 999999;
    background-color: rgba(200, 200, 200, 0.5);
    padding: 0.5em 0 0;
    cursor: grab;
    border-radius: 8px;
    overflow: hidden;
    min-width: 164px;

    .timer {
        white-space: nowrap;
        font-size: 18px;
        cursor: default;

        input {
            display: none;
        }

        button {
            background-color: rgba(0, 0, 0, 0);
            border: none;
            cursor: pointer;
        }

        .time-wrapper {
            padding: 0 0.3em;
            display: inline-block;
            width: 100%;
            text-align: center;

            & > div {
                display: inline-block;
                line-height: 1;
            }

            & > button {
                width: 48px;
            }

            .time-display {
                font-size: 1.4em;
            }
        }

        .button-wrapper {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            vertical-align: text-bottom;
            width: 1em;

            button {
                font-size: 12px;
                border: #444 solid 1px;
                border-radius: 100%;
                padding: 0 0 2px;
                width: 12px;
                height: 12px;
                line-height: 0;
                background: #444;
                color: #ccc;
            }
        }

        .predefined-button-wrapper {
            line-height: 1.5;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
        }

        .predefined-button {
            font-size: 0.6em;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            padding: 0 6px;
            border-radius: 1em;
            cursor: pointer;
            margin: 0.2em 0.3em;
        }
    }

    .music-player {
        audio {
            height: 34px;
            vertical-align: bottom;
            width: 100%;
            cursor: pointer;

            &::-webkit-media-controls-timeline,
            &::-webkit-media-controls-current-time-display,
            &::-webkit-media-controls-time-remaining-display {
                display: none;
            }
            &::-webkit-media-controls-enclosure {
                border-radius: 0;
                background-color: rgba(200, 200, 200, 0.5);
            }

            &:hover {
                &::-webkit-media-controls-enclosure {
                    background-color: rgba(200, 200, 200, 0.9);
                }
            }
        }
    }
}
